<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div style="display: flex; flex-direction: column; gap: 24px;">
    <h2>Tesstt</h2>
    <div>
      <strong>List of Books :</strong>
      <div id="list" style="display: flex; flex-direction: column; gap: 8px; margin: 12px 0px;"></div>
    </div>
    <div style="display: flex; width: 100%; gap: 64px;">
      <div>
        <strong>List of Users :</strong>
        <div id="list_user" style="display: flex; flex-direction: column; gap: 8px; margin: 12px 0px;"></div>
      </div>
      <div style="display: flex; flex-direction: column; gap: 16px;">
        <div>
          <span>Nama :</span>
          <input type="text" name="nama" id="nama">
        </div>
        <div>
          <span>Email :</span>
          <input type="email" name="email" id="email">
        </div>
        <button id="add-btn">Add</button>
      </div>
    </div>
  </div>
</body>

<script>
  
</script>
</html>